@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-slate-900 bg-brand-50 antialiased;
  }

  * {
    @apply box-border;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.slate.300') transparent;
  }

  .scrollbar-thin::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: theme('colors.slate.300');
    border-radius: 3px;
  }
}
